@charset "UTF-8";

	/*펫시터 메인 폰트컬러 */
	.main_mintfont{
	color : #53DC98!important;
	}
	
	.main_whitefont{
	color : #ffffff!important;
	}
	
	#main_whitefont2{
	color : #ffffff!important;
	}
	
	#main_grayfont1{
	color : #707070!important;
	}
	
	#main_grayfont2{
	color : #949494!important;
	}
	/*펫시터 메인 폰트컬러 끝*/
	

	
	.circleprofileimg02 {
	margin : 0 0 0 30px;
	}
	
	.circleprofileimg {
	margin : 0 0 3px 0;
	}
	
	
	/* 제이쿼리 로인해 색 폰트 사이즈 수정을 위해 jsp파일안에 스타일 오버라이트 
	resource/css/style.css 부분에서 찾은 부분(최종은 jsp에있는 style로 적용 됨) */
	.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #d3d3d3!important;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
	  
	.site-mobile-menu .site-mobile-menu-body {
	background: #d3d3d3!important;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	position: relative;
	padding: 0 20px 20px 20px;
	height: calc(100vh - 52px);
	padding-bottom: 150px; }
	  /* 기본 상단바 끝*/
	  
	/*최하단바 시작*/
	.site-footer {
	  padding: 4em 0;
	  background: #e9e9e9!important; 
	}
	/*최하단바 종료*/
	
	/*ajax 에서 사진 가운데 와 크기 지정 css 시작*/
	.thumbnail-wrappper { 
	width: 25%; 
	} 
	.thumbnail { 
	position: relative; 
	width : 260px;
	height : 260px;
	background : rgba(94,94,94,0.3);
	overflow: hidden; 
	margin-bottom : 4px;
	border-radius : 3px;
	} 
	.thumbnail .centered { 
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	-webkit-transform: translate(50%,50%); 
	-ms-transform: translate(50%,50%); 
	transform: translate(50%,50%); 
	} 
	
	.thumbnail .centered img { 
	position: absolute; 
	top: 0; 
	left: 0; 
	max-width: auto; 
	max-height: auto; 
	height: auto; 
	-webkit-transform: translate(-50%,-50%); 
	-ms-transform: translate(-50%,-50%);
	 transform: translate(-50%,-50%); 
	 }
	 
	 
	.thumbnail02 { 
	position: relative; 
	width : 60px;
	height : 60px;
	background : rgba(94,94,94,0.3);
	overflow: hidden; 
	margin-bottom : 4px;
	border-radius : 30px;
	} 
	.thumbnail02 .centered02 { 
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	-webkit-transform: translate(50%,50%); 
	-ms-transform: translate(50%,50%); 
	transform: translate(50%,50%); 
	} 
	
	.thumbnail02 .centered02 img { 
	position: absolute; 
	top: 0; 
	left: 0; 
	max-width: 60px; 
	max-height: auto; 
	height: 60px; 
	-webkit-transform: translate(-50%,-50%); 
	-ms-transform: translate(-50%,-50%);
	 transform: translate(-50%,-50%); 
	 }
	 
	 
	/*ajax 에서 사진 가운데 와 크기 지정 css 종료*/

	/*carousel 고정 높이 조정*/
	.slide {
  height: 266px!important;
  min-height: 266px!important;
  background-size: cover;
	}
	
	
	/*carousel 위치 보여주는 아이콘 바 설정*/
	.carousel-indicators li {
   box-sizing: content-box;
   -ms-flex: 0 1 auto;
   flex: 0 1 auto;
   width: 18px!important;
   height: 3px;
   margin-right: 1.5px!important;
   margin-left: 1.5px!important;
   text-indent: -999px;
   cursor: pointer;
   background-color: #fff;
   background-clip: padding-box;
   border-top: 10px solid transparent;
   border-bottom: 10px solid transparent;
   opacity: .5;
   transition: opacity .6s ease;
   }
   
   /*스크롤 위로올라가기 버튼 css*/
   a#MOVE_TOP_BTN {
   	/* position : 화면에 고정
		right, bottom : 버튼의 위치 설정
		display : 화면에서 숨김
		z-index : 다른 태그들보다 위로 오도록 설정(z-index 가 설정된 다른 태그가 있다면 그 태그보다 커야 함)
		*/
		background: rgb(83, 220, 152);
		color : white;
		width : 90px;
		height : 40px;
    position: fixed; 
    padding : 7px 0 0 30.8px;
    border-radius : 22px;
    right: 2%;
    bottom: 50px;
    display: none;
    z-index: 999;
		}

		.swal2-content {
			font-size: 15px!important;
		}
		
.pbtn01 {
	background:#53dc98!important;
	color : white;
	border : 1px solid #53DC98!important;
	}	

	
	.pbtn02 {
	background:#e67e22!important;
	color : white;
	margin : 0 0 0 5px;
	border : 1px solid #e67e22!important;
	}		

	.pbtn03 {
	background : rgb(224, 224, 224)!important;
	color : #5e5e5e!important;
	margin : 0 0 0 5px;
	border : 1px solid rgb(224, 224, 224)!important;
	}		

	.pbtn04 {
	background:#53dc98!important;
	color : white;
	border : 1px solid #53DC98!important;
	margin : 0 0 23px 15px;
	}	
		
	.pbtn01:hover {
	color : #53dc98!important;
	font-weight : bold!important;
	background : white!important;
	}	

	.pbtn02:hover {
	color : #e67e22!important;
	background : white!important;
	}
	
	.pbtn03:hover {
	color : #5e5e5e!important;
	background : white!important;
	}
	
	.pbtn04:hover {
	color : #53dc98!important;
	font-weight : bold!important;
	background : white!important;
	}			
		
